language: java
jdk:
  - oraclejdk8

before_install:
  - chmod +x gradlew
  - export JAVA8_HOME=/usr/lib/jvm/java-8-oracle
  - export JAVA_HOME=$JAVA8_HOME

script: ./gradlew clean build jacocoReport --stacktrace

after_success:
  - bash <(curl -s https://codecov.io/bash)